<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190483177-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-190483177-1');
    </script>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
    {{.Hugo.Generator}}

    <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

    <!-- CSS -->
    {{ $purecss := "https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/" }}
    <link rel="stylesheet" href="{{ $purecss }}pure-min.css">

    {{ "<!--[if lte IE 8]>" | safeHTML }}
<link rel="stylesheet" href="{{ $purecss }}grids-responsive-old-ie-min.css">
{{ "<![endif]-->" | safeHTML }}
    {{ "<!--[if gt IE 8]><!--> " | safeHTML }}
    <link rel="stylesheet" href="{{ $purecss }}grids-responsive-min.css">
    {{ "<!--<![endif]--> " | safeHTML }}

    {{ "<!--[if lte IE 8]>" | safeHTML }}
<link rel="stylesheet" href="/css/side-menu-old-ie.css">
{{ "<![endif]-->" | safeHTML }}
    {{ "<!--[if gt IE 8]><!--> " | safeHTML }}
    <link rel="stylesheet" href="/css/side-menu.css">
    {{ "<!--<![endif]--> " | safeHTML }}

    <link rel="stylesheet" href="/css/blackburn.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <!--  RSS -->
    <!--   {{ if .RSSLink }}
      <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}" />
      {{ end }} -->

    {{ with .Site.Params.highlightjs }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/{{ . }}.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}

    {{ partial "favicon.html" . }}

    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}
    {{ range .Site.Params.custom_js }}
    <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}

</head>
